.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240,240,240);
    border-radius: 4px;
}

.divControl {
    padding-left: 8px;
}

.divUser {
    padding-right: 7px;

}

.divUser a {
    background-color: rgb(92,184,92);
    border-radius: 5px;
    padding: 0 7px 2px 7px;
    color: #fff;
    font-size: 13px;
}

.divUser a:hover {
    color: #fff;
}

.divUser b {
    background-color: rgb(92,184,92);
    border-radius: 5px;
    padding: 0 7px 2px 7px;
    color: #fff;
    font-size: 13px;
}





